#die {
  height: 115px;
  width: 115px;
  background-color: lightgray; /* Feel free to customize */
  position: relative;
}

#die2 {
  height: 115px;
  width: 115px;
  background-color: lightgray; /* Feel free to customize */
  position: absolute;
  left: 200px;
  top: 7px;
}