
body {
  background-color: grey;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#leftPaddle {
  background-color: white;
  width: 10px;
  height: 80px;
  border-radius: 5px;
  position: absolute;
  left: 0px;
  top: 0px;
/*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
}

#rightPaddle {
  background-color: white;
  width: 10px;
  height: 80px;
  border-radius: 5px;
  position: absolute;
  left: 430px;
  top: 0px;
}

#ball {
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: absolute;
  top: 200px;
  left: 200px;

}
